[submodule "submodules/less.js"]
	path = submodules/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "submodules/company"]
	path = submodules/company
	url = git://github.com/keeto/company.git
[submodule "submodules/behavior"]
	path = submodules/behavior
	url = git://github.com/anutron/behavior.git
